<mat-card>
  <mat-card-title>Edit Profile</mat-card-title>
  <mat-card-content>
    <form [formGroup]="reactiveForm" class="form-field-full">
      <div fxLayout="row wrap" fxLayoutGap="4px grid">
        <div fxFlex="50" fxFlex.lt-md="100">
          <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Simple placeholder" formControlName="nom" required>
            <mat-error *ngIf="reactiveForm.get('nom').invalid">Please enter Nom</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="50" fxFlex.lt-md="100">
          <mat-form-field appearance="outline">
            <mat-label>Postnom</mat-label>
            <input matInput placeholder="Simple placeholder" formControlName="postnom" required>
            <mat-error *ngIf="reactiveForm.get('postnom').invalid">Please enter Postnom</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="50" fxFlex.lt-md="100">
          <mat-form-field appearance="outline">
            <mat-label>Prenom</mat-label>
            <input matInput placeholder="Simple placeholder" formControlName="prenom" required>
            <mat-error *ngIf="reactiveForm.get('prenom').invalid">Please enter Prenom</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="50" fxFlex.lt-md="100">
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Simple placeholder" formControlName="username" required>
            <mat-error *ngIf="reactiveForm.get('username').invalid">Please enter Username</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="50" fxFlex.lt-md="100">
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="Simple placeholder" formControlName="email" required>
            <mat-error *ngIf="reactiveForm.get('email').invalid">
              {{getErrorMessage(reactiveForm)}}</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="50" fxFlex.lt-md="100">
          <mat-radio-group formControlName="sexe" >
            <div><mat-label>Sexe *</mat-label></div>
            <mat-radio-button *ngFor="let sexe of sexeList" [value]="sexe">{{sexe}}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" class="m-l-8" (click)="onSubmit()" [disabled]="isFromInvalid()">Sauvegarder</button>
        <button mat-raised-button color="accent" class="m-l-8" (click)="onClear()" [disabled]="isTheSame()">Annuler</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
